$dark-background: #38403B;
$light-sand: #F2AC57;
$dark-sand: #A67A53;
$light-purple: #735568;
$dark-purple: #612273;

$light-background: #EFEFEF;
$card-background: #FFF;

$light-text: #EFEFEF;
$dark-text:  #555;