html {
  height: 100%; }

h2 {
  color: #AA7E61; }

#header h1 {
  margin-left: 2rem; }

#cover img {
  height: auto;
  width: 100%; }

#main {
  min-height: 8rem;
  padding: 1.5rem 0 1.5rem 0; }
  #main #about {
    padding: 3rem; }
    #main #about .me {
      height: 10rem;
      width: 10rem;
      padding: 0.8rem; }

.card {
  padding: 1rem;
  margin-bottom: 1rem;
  min-height: 25rem !important; }

.badges {
  margin-top: 1.6rem; }

html {
  font: 62.5% Roboto, Arial, sans-serif; }

body {
  background: #000 !important;
  color: #efefef;
  font-size: 12px;
  font-size: 1.5rem;
  border-top: 10px solid #612273; }

h1 {
  font-family: "Roboto Slab", Georgia, serif;
  font-size: 30px;
  font-size: 3.75rem;
  color: #efefef;
  text-shadow: 1px 1px #999; }

h2 {
  font-family: "Roboto Slab", Georgia, serif;
  font-size: 20px;
  font-size: 2.5rem; }

#header {
  background: #000; }

#main {
  background: #efefef;
  color: #555555;
  padding: 1rem;
  -webkit-box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.2); }
  #main .card {
    background: white;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px -1px 0 rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0px -1px 0 rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px -1px 0 rgba(0, 0, 0, 0.7);
    color: #555555;
    transition: left 0.25s linear; }
  #main #about {
    text-align: center; }
    #main #about .me {
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }

.badges {
  text-align: center; }
