html {
    font: 62.5% Roboto, Arial, sans-serif;
}

body {
    background: #000 !important; //override bootstrap
    color:  $light-text;
    @include font-size(12);
    border-top: 10px solid $dark-purple;
}

h1 {
    font-family: "Roboto Slab", Georgia, serif;
    @include font-size(30);
    color: $light-text;
    text-shadow: 1px 1px #999;

    a, a:hover {
        color: $light-text;
        text-decoration: none;
    }
}

h2 {
    font-family: "Roboto Slab", Georgia, serif;
    @include font-size(20);
    color: $dark-sand;

    a, a:hover {
        color: $dark-sand;
        text-decoration: none;
    }
}

#footer {
    //@include linear-gradient('to bottom', $dark-background, #111);
    //height: 5rem;
}

#header {
    background: #000;

}

#main {
    background: $light-background;
    color: $dark-text;
    padding:    1rem;
    @include box-shadow(0px,2px,1px,rgba(0,0,0,.2),inset);


    .card, .mini-card {
        background: $card-background;
        @include border-radius(3px);
        @include box-shadow(1px,1px,0,rgba(0,0,0,.1),inset);
        @include box-shadow(0px,-1px,0,rgba(0,0,0,.4),inset);
        color: $dark-text;
    }

    #about {
        text-align:center;
        .me {
            @include border-radius(50%);
        }
    }
}

.badges {
    text-align:center;
}


